:root {
  --dark-background: #051c33;
  --light-background: #ffffff;
  --light-color: #051c33;
  --dark-color: #ffffff;
}

body,
html {
  font-family: cursive;
}


.App {
  height: 100%;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .theme.theme-auto {
    background: var(--dark-background);
    color: var(--dark-color);
  }
}

.theme.theme-light {
  background: var(--light-background);
  color: var(--light-color);
}

.theme.theme-dark {
  background: var(--dark-background);
  color: var(--dark-color);
}